<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>04a1cbf7313a2f5dd3d1</string>
	<key>clientSecret</key>
	<string>8cae60efe87efaaabcfe0cdd0b6e09ff9e6f4c92</string>
</dict>
</plist>
